body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078D4;
    color: white;
    text-align: center;
    padding: 1rem;
}

header img {
    max-width: 100px; /* Ajuste o tamanho do logo conforme necessário */
    margin-top: 10px;
}

.problems-list {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.problems-list h2 {
    color: #0078D4;
}

.problems-list ul {
    list-style-type: none;
    padding: 0;
}

.problems-list li {
    margin: 10px 0;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.problems-list li:last-child {
    border-bottom: none; /* Remove a borda inferior do último item */
}

.problems-list a {
    text-decoration: none;
    color: #0078D4;
    transition: color 0.3s;
}

.problems-list a:hover {
    color: #004377;
}

footer {
    background-color: #0078D4;
    color: white;
    text-align: center;
    padding: 1rem;
}
